#title{
font-size: 70px;
color: blue;    
}
#img1{
height: 450px;
width: 400px;
border-width:15px;
border-style:groove;
border-color:black;    
}
#text{
font-size:40px;    
color:rgb(2, 87, 16);    
}
button{
background-color: chartreuse;
color:darkblue;
height: 50px;
width:100px;
font-size: 30px;    
}